.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/eslint/.cache_8h0czb
.next/cache/fetch-cache/6c46706723a55afc26446d0423d5c524400613b8d77f6aa5db11f548ea5dc08d
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/6.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/edge-server-production/0.pack
.next/cache/webpack/edge-server-production/index.pack
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/4.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/favicon.ico/route.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/cors.js
.next/server/vendor-chunks/igniteui-react-charts.js
.next/server/vendor-chunks/igniteui-react-core.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/object-assign.js
.next/server/vendor-chunks/tslib.js
.next/server/vendor-chunks/vary.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/css/app/layout.css
.next/static/css/app/page.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/6d93bde91c0c2823-s.woff2
.next/static/media/26a46d62cd723877-s.woff2
.next/static/media/55c55f0601d81cf3-s.woff2
.next/static/media/97e0cb1ae144a2a9-s.woff2
.next/static/media/581909926a08bbc8-s.woff2
.next/static/media/a34f9d1faa5f3315-s.p.woff2
.next/static/media/df0a9ae256c0569c-s.woff2
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/cdde67a553646e72.webpack.hot-update.json
.next/static/webpack/webpack.cdde67a553646e72.hot-update.js
.next/static/webpack/app/layout.cdde67a553646e72.hot-update.js
.next/static/webpack/app/page.cdde67a553646e72.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
