.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #005596;
  }
  
  .main {
    text-align: center;
    width: 80%;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  /* .input {
    color: #ff0000;
  } */
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}